[package]
name = "nes-emulator"
version = "0.1.0"
authors = ["Michael Burge <michaelburge@pobox.com>"]
edition = "2018"

[[bin]]
name = "headless"
path = "src/headless.rs"

[[bin]]
name = "nes-emulator"
path = "src/main.rs"

[[bin]]
name = "bench"
path = "src/bench.rs"

[[bench]]
name = "emulator"
harness = false

[dev-dependencies]
criterion = "0.2"

[dependencies]
sdl2 = "0.32"

[profile.release]
opt-level = 3